workflow-complete.json
{
  "name": "SEO - Indexability Review",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed173ad7-6ac1-4d27-a448-37597cb7957a",
              "name": "site",
              "value": "=INSERT_WEBSITE_URL_TO_REVIEW",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1424, 96],
      "id": "b9086d7e-49c5-4439-84ce-e8648d86383c",
      "name": "Init Site"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1648, 96],
      "id": "75bc468e-15f8-4ed4-8ce9-2b76c93de453",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "={{ ($json.site || '').replace(/\\/+$/,'') + '/sitemap.xml' }}\n",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {"redirect": {}},
          "response": {"response": {"responseFormat": "text"}}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1200, 96],
      "id": "c8672a2b-8d30-4269-97b0-25db4a9e47c2",
      "name": "Fetch Sitemap",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Expect raw XML in $json.data or $json.body depending on your HTTP node\nconst xml = $json.data || $json.body || '';\n// Extract all <loc> values (handles namespaces and whitespace)\nconst locs = Array.from(xml.matchAll(/<loc[^>]*>\\s*([^<\\s][^<]*)\\s*<\\/loc>/gi))\n  .map(m => m[1].trim());\n\n// Emit each URL as its own item\nif (locs.length) {\n  return locs.map(u => ({ json: { url: u, source: 'sitemap' }}));\n}\n\n// If nothing found, emit a marker so we can trigger the fallback crawler later\nreturn [{ json: { url: null, source: 'sitemap', empty: true }}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-976, 96],
      "id": "edf5ad46-5c86-4470-b806-bf2f9c6c481e",
      "name": "Parse Sitemap"
    }
  ],
  "pinData": {},
  "connections": {
    "Init Site": {
      "main": [[{"node": "Fetch Sitemap", "type": "main", "index": 0}]]
    },
    "When clicking 'Execute workflow'": {
      "main": [[{"node": "Init Site", "type": "main", "index": 0}]]
    },
    "Fetch Sitemap": {
      "main": [[{"node": "Parse Sitemap", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}